.board-background{
    background: linear-gradient(to bottom ,#977DFF, #00033D);
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

.board-box{
    background: #00033D;
    width: 85vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px;
    margin: 0 20px 30px 75px;
    color: white;
    padding: 10px;
}

.task-btn{
    margin-left: 80px;
}

.column-style{
    padding: 15px;
    flex: 1;
    margin: 8px;
    background-color: #0033FF;
    border-radius: 15px;
    height: 85%;
}


.column-title{
    font-weight: bolder;
    cursor: grab;
    justify-content: space-between;
    padding-bottom: 15px;
}

.column-title:hover{
    color: #0033FF;
}

.column-div{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 15px;
    width: 150px;
}