.board-background{
    background: linear-gradient(to bottom ,#977DFF, #00033D);
    height: 100vh;
    width: 100vw;
    display: flex;
} 

.board-box{
    background: #00033D;
    width: 85vw;
    min-height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px;
    color: white;
    padding: 25px;
    margin-bottom: 70px;
}

.task-btn{
    margin-left: 80px;
}

.column-style{
    padding: 15px;
    flex: 1;
    margin: 8px;
    background-color: #0033FF;
    border-radius: 15px;
    height: 85%;
}


.column-title{
    font-weight: bolder;
    justify-content: space-between;
    padding-bottom: 15px;
}

.column-title:hover{
    color: #0033FF;
}

.column-div{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 15px;
    min-width: 200px;
    max-height: 400px;
    margin: 15px 0 15px 0;
}

.column-body{ 
    max-height: 95%;
    overflow-y: auto;
}

.task-card{
    padding: 8px;
    margin: 10px;
    background-color: #0600AB;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .task-card:hover{
    border: 2px solid #0033FF;
  }
