.home-background{
    background: linear-gradient(to bottom ,#977DFF, #00033D);
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
} 

.home-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    min-height: 80vh;
    width: 90vw;
    margin: 30px 30px 60px 30px;
}

.item{
    max-width: 90vw;
    border-radius: 15px;
    padding: 25px;
    background: rgba(0, 3, 61, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.item1{
    grid-column: span 2;
    grid-row: span 2;
}

.item2{
    color: #FFCCF2;
}

.item3{
}

@media (max-width: 600px) {
    .home-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .item1, .item2, .item3 {
        grid-column: span 1;
        grid-row: auto;
    }
}

.points-div{
    display: flex;
    justify-content: center;
}

.total-points{
    background-color: #FFCCF2;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    color: #00033D;
    text-align: center;
    display: flex;
    align-items: center;
}