.landing{
    background: linear-gradient(to bottom ,#977DFF, #00033D);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0033FF;
}

.landing-block1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: #f2e6ee;
    min-height: 100vh;
    max-height: 500px;
    width: 100vw;
}


.landing-img{
    display: flex;
    width: auto;
    height: 65vh;
    max-height: 320px;
    object-fit: cover;
    box-sizing: border-box;
}

.header-welcome{
    font-size: 32px;
    font-weight: bolder;
    line-height: 0.6em;
}

.landing-block3{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    max-height: 500px;
    width: 100vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.landing-block3-div{
    background: rgba(0, 3, 61, 0.5);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 150px;
    transition: 
        transform 1.5s ease,
        background-color 1.5s ease,
        border 0s,            
        box-shadow 0s; 
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor: pointer;
    color: #f2e6ee;
    font-size: 18px;
}

.landing-block3-div:hover{
    border: 3px solid #0033FF;
}

.landing-block3-div.active {
    transform: scale(1.5) rotateY(360deg);
    background-color: #0600AB;
    color: #977DFF;
    z-index: 999;
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
  
.landing-block3-div.shrink {
    transform: scale(0.8);
    opacity: 0.6;
}

.fade-in {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.landing-text-block{
    margin: 50px;
}

.landing-block-text{
    width: 650px;
    max-width: 80%;
    text-align: center;
    padding: 50px;
    line-height: 3em;
}

.landing-block2-img{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-block2-header{
    text-align: center;
    font-size: 200px;
    color: #f2e6ee;
}
@media screen and (max-width: 767px) {
    .header-welcome {
        font-size: 25px;
        line-height: normal;
        padding: 30px;
        
    }
    .landing-block2-header{
        font-size: xxx-large;
    }
    .landing-block1{
        flex-wrap: wrap-reverse;
    }
}