.profil-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom ,#F2E6EE, #977DFF);
    color: #0033FF;
}

.profil-head{
    align-self: center;
    font-size: xxx-large;
    font-weight: ;
}

.profil-block{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 250px;
    background: rgba(0, 3, 61, 0.5);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profil-info-div{
    display: flex;
    flex-direction: column;
    color: #0033FF;
    margin: 30px;
}

.profil-info{
    width: 150px;
    height: 40px;
    background: rgba(0, 3, 61, 0.5);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
}