.teampage{
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    color: #F2E6EE;
    
}

.team-uebersicht-div{
    align-items: center;
    gap: 30px;
}

.team-members{
    align-items: center;
    text-align: center;
}
.teammitglied-list{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 75vw;
}

.teammitglied-card{
    background: rgba(0, 3, 61, 0.5);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0033FF;
    padding: 5px;
}