.navbar {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: #00033D;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    position: sticky;
    top: 0;
    overflow: auto;
}
.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
